/* start custom scss snippet */
// Changes font for header
// header {
//     font-family: "Times New Roman", Times, serif;
// }
.author__urls-wrapper {
    a {
            // text-decoration: underline;
            font-weight: map-get($base, font-weight);
            // color: #000000;
            &:hover {
                // color: #0060B6;
                text-decoration: underline;
            }
    }
}

.grid {
    display: flex;
    width: 100%;
}

.col-1-2 {
    flex: 1;
    width: 130%;
    float: right;
}

.cole-1-2:last-child {
    margin-left: 20px;
    // width: 50%;
}

.col3 {
    width: 3%;
}

/* end custom scss snippet */
